{% extends "_layouts/cp" %}
{% do view.registerAssetBundle("endurant\\mailmanager\\assetbundles\\template\\main\\TemplateAssetBundle") %}
{% set title = "Changes Manager Templates"|t('app') %}

{% block content %}
    <h1>Just a test page now</h1>
{% endblock %}