{#
/**
 * donations-free plugin for Craft CMS 3.x
 *
 * donations-free Settings.twig
 *
 * @author    endurant
 * @copyright Copyright (c) 2017 endurant
 * @link      https://endurant.org
 * @package   Donationsfree
 * @since     1.0.0
 */
#}
{% do view.registerAssetBundle("endurant\\mailmanager\\assetbundles\\settings\\MailManagerSettingsAssetBundle") %}
{% import "_includes/forms" as forms %}
{{
    forms.selectField({
        label: 'Transport Type',
        instructions: 'How should mail manager sending emails?',
        id: 'mailer',
        name: 'mailer',
        value: settings['mailer'],
        required: true,
        options: transportTypeOptions,
        toggle: true
    })
}}

{% for _adapter in allTransportAdapters %}
    {% set isCurrent = (className(_adapter) == settings['mailer']) %}
    <div id="{{ className(_adapter)|id }}"{% if not isCurrent %} class="hidden"{% endif %}>
        {#{% namespace 'transportTypes['~className(_adapter)~']' %}#}
            {{ (isCurrent ? adapter : _adapter).getSettingsHtml()|raw }}
        {#{% endnamespace %}#}
    </div>
{% endfor %}

