<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
<head>
    <meta name="viewport" content="width=device-width">
    {% block head %}{% endblock %}
</head>
<body>
<div class="overlay">
</div>
<div class="error-panel">
    <div class="error-logo"></div>
    <div class="panel-body">
        <div class="panel-body-header">
            <h2 class="title">Donation was failed</h2>
        </div>
        <div>
            {{ errorText | raw }}
        </div>
        <a href="{{ baseUrl }}">Return back to the page</a>
    </div>
</div>
</body>
</html>