{% extends "_layouts/cp" %}

{% if isUserHelpUs %}
    {% do view.registerAssetBundle("infoservio\\mailmanager\\assetbundles\\logrocket\\LogRocketAssetBundle") %}
{% endif %}

{% do view.registerAssetBundle("infoservio\\mailmanager\\assetbundles\\template\\main\\TemplateAssetBundle") %}
{% set title = "View Template"|t('app') %}

{% block content %}
    <h1>{{ template.name }}</h1>
    <h3>{{ template.slug }}</h3>
    <br />
    <h2>{{ template.subject }}</h2>
    <div style="max-width: 1000px;">
        <iframe id="template-iframe" align="middle"></iframe>
    </div>
    <script>
        var content = `{{ template.template | raw }}`;
    </script>
{% endblock %}